src
lib/**/*.spec.ts
lib/**/*.-bench-spec.ts
lib/**/*.spec.*.js
lib/**/*.bench-spec.*.js
tests
bench
coverage
.vscode
tsconfig.json
benchmark.ts
ursus-utilus-*.tgz
.github
*.spec.ts
*.bench-spec.ts
*.orig