/src
/lib/**/*.spec.ts
/lib/**/*.bench-spec.ts
/lib/**/*.spec.js
/lib/**/*.bench-spec.*.js
/lib/lib
/tests
/bench
/coverage
/.vscode/
/tsconfig.json
declarray-*.tgz
/.github
*.spec.ts
*.bench-spec.ts
*.orig
.npmrc
*output.txt
*.md
tsconfig.*json
bench-out-formatter.js
bench-out-formatter.d.ts
*.csv