src
lib/**/*.spec.ts
lib/**/*.-bench-spec.ts
lib/**/*.spec.*.js
lib/**/*.bench-spec.*.js
lib/lib
tests
bench
coverage
.vscode
tsconfig.json
benchmark.ts
declarray-*.tgz
.github
*.spec.ts
*.bench-spec.ts
*.orig
.npmrc
output.txt
*.orig
*.md
docs/
tsconfig.*json
bench-formatter.js